:root {
  --contrast-color: blue;
  --main-color: orange;
  --main-color-dark: rgb(135, 88, 0);
}

* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--contrast-color);
}

.header_heading-container {
  flex: 1;
}

.nav-bar__menu {
  display: flex;
  gap: 1.1rem;
  flex: 1;
}

.count-items {
  background-color: var(--main-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count-items__heading {
  font-weight: 300;
}

.count-items__icon {
  font-size: 2.4em;
}

.item-list {
  background-color: var(--main-color);
}

.item-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-delete {
  display: flex;
  align-items: center;
}

.item-list__total-price {
  text-align: right;
  font-size: 1.5rem;
}

/* <section class="item-list">
<ul class="item-list__list">
  <li class="item-list__item">
    <label>
      <input type="checkbox" id="cart-item">
      Pan
    </label>
    <div class="price-delete">
      <p class="item__price">0.75€</p>
      <i class="item__delete">X</i>
    </div>
  </li> */
