:root {
  --contrast-color: rgb(154, 203, 234);
  --main-color: rgb(203, 134, 55);
  --main-color-dark: rgb(211, 115, 5);
  --typography-color: rgb(18, 24, 28);
}

* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat, sans-serif;
  color: var(--typography-color);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header,
.count-items,
.item-list {
  padding: 10px 20px 10px 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--contrast-color);
}

.header_heading-container {
  flex: 1;
}

.header__heading {
  font-weight: 500;
  font-size: 1.5rem;
}

.nav-bar__menu {
  display: flex;
  gap: 1.1rem;
  flex: 1;
}

.count-items {
  background-color: var(--main-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count-items__heading {
  font-weight: 300;
}

.count-items__icon {
  font-size: 2.4em;
  color: var(--typography-color);
}

.item-list {
  background-color: var(--main-color);
  flex: 1;
}

.item-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list__item:hover {
  background-color: rgb(168, 89, 0);
  color: white;
}

.price-delete {
  display: flex;
  align-items: center;
}

.item-list__total-price {
  text-align: right;
  font-size: 1.5rem;
}

input[type="checkbox"]:checked + * {
  text-decoration: line-through;
}

.item-list__item-name {
  margin-left: 5px;
  margin-right: auto;
  cursor: pointer;
}

.item-delete {
  margin-left: 15px;
  font-size: 1.7rem;
}

.field__price-tag {
  display: flex;
  align-items: center;
  flex-direction: row;
  line-height: 0;
}

.field__price-tag input {
  width: 100%;
}

.field__price-tag p {
  position: absolute;
  right: 55%;
}

.field__input {
  outline: none;
  border: none;
  padding: 15px;
}

.item__price {
  line-height: 0;
}
