:root {
  --contrast-color: blue;
  --main-color: orange;
  --main-color-dark: rgb(135, 88, 0);
}

* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--contrast-color);
}

.header_heading-container {
  flex: 1;
}

.nav-bar__menu {
  display: flex;
  list-style: none;
  gap: 1.1rem;
  flex: 1;
}

.count-items {
  background-color: var(--main-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count-items__heading {
  font-weight: 300;
}

.count-items__icon {
  font-size: 2.4em;
}
